%all-text {
  margin: 0;
  padding: 0;
}

%header-font {
  // font-family: 'Bitter', serif;

  text-transform: uppercase;

  font-family: 'Roboto Slab', serif;
}

%txt-font {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
}
