@import 'global';
$headerTextSize: 69.5%;
$svgSize: 7.4mm;

#header {
  width: 100%;
  display: flex;
  height: fit-content;

  // border and spacing stuff
  // border-bottom: 1px solid black;
  // padding-bottom: 2mm;
  margin-bottom: 5mm;

  #rightText {
    width: $headerTextSize;

    h1 {
      @extend %header-font;
      font-weight: 700;
      font-size: 13mm;
      float: left;
      //   font-variant: small-caps;
      margin-top: -0.1 mm;
      margin-bottom: -1.3mm;
      span {
        font-size: 13mm;
      }
    }
  }

  // h2 {
  //   font-weight: 400;
  // }

  #iconBox {
    width: 100% - $headerTextSize;
    float: left;
    padding-top: 1.2mm;
    span {
      display: flex;
      margin-bottom: 1mm;
    }

    svg {
      vertical-align: middle;
    }

    $githubSizeModifier: -0.1mm;

    #github {
      width: $svgSize + $githubSizeModifier;
      height: $svgSize + $githubSizeModifier;
      margin-right: 2.4mm;
    }

    $envelopeSizeModifier: -1.05mm;
    #envelope {
      width: $svgSize + $envelopeSizeModifier;
      height: $svgSize + $envelopeSizeModifier;
      margin-left: -$envelopeSizeModifier / 2;
      margin-right: 2.4mm - $envelopeSizeModifier / 2;
    }

    label {
      @extend %txt-font;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }

    a,
    a:visited,
    a:link,
    a:active > label {
      color: black;
      position: relative;
      text-decoration: none;
    }

    a:hover > label {
      color: rebeccapurple;
      cursor: pointer;
    }
  }
}
