@import './global', './header', './body';

@page {
  size: letter;
}

body,
html {
  height: 100%;
}

.sheet {
  padding: 8.5mm;
  // display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  @extend %all-text;
  @extend %noselect;
}

p {
  @extend %all-text;
  @extend %noselect;
}
