@import 'global';

.section {
  margin-bottom: 3mm;
  h2 {
    @extend %header-font;
    border-bottom: 2px solid black;
    line-height: 6.35mm;
  }

  ul {
    margin: 0;
    margin-top: 2mm;
    list-style: none;
    padding: 0;
    margin-left: 3mm;
  }

  li {
    @extend %txt-font;
    @extend %noselect;
  }

  li::before {
    // content: '— ';
    content: '- ';
  }

  .subsection {
    margin-top: 1.1mm;
    h3 {
      text-transform: none;
      font-size: 3.58mm;
      @extend %txt-font;
      float: left;
    }

    span {
      @extend %txt-font;
      width: 100%;
      p {
        float: right;
        font-style: italic;
        padding-right: 0.5mm;
      }
    }

    ul {
      margin-top: 0mm;
      clear: both;
      @extend %noselect;

      li {
        a {
          color: black;
        }

        a:hover {
          color: rebeccapurple;
          transition: 0.5s;
        }
      }
    }
  }

  #skillList {
    height: 25mm;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.bold {
  font-weight: 700;
  font-weight: bold;
}

.nobold {
  font-weight: 400;
}

$beforeContent: ' ';
// override for skills
#skills > ul {
  // content: none;

  margin-left: 0;

  li::before {
    content: $beforeContent;
  }
}

// override for education
#education > ul {
  margin-left: 0;
  li::before {
    content: $beforeContent;
  }

  // content: $beforeContent;
}
